{% extends 'base.html' %} {% load static %} {% block title %} thisispawann |blog
{% endblock %} {% block body %}

<!-- Button trigger modal -->
    <a
      type="button"
      class="btn btn-primary category"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      cate<b style="color: red">go</b>ries
    </a>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Categories</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            {% for category in category_list %}
                 <a class="dropdown-item" href="/category/{{ category.name}}">{{category.name|title}}</a> 
                {% endfor %}
          </div>
        </div>
      </div>
    </div>
<nav class="menu" data-scroll-section-inview="">
  <h1 class="menu__item-h1">
    I design and develop experiences that make people's live easier
  </h1>
  {% for post in posts %}
  <a href="{{post.get_absolute_url}}" class="text-dark menu__item">
    <span class="menu__item-text"
      ><span class="menu__item-textinner" style="transform: translate(0px, 0px)"
        ><span>{{post.title}}</span></span
      ></span
    >
  </a>
  {% endfor %}
</nav>
{% endblock%}
