{% extends 'base.html' %} {% load static %} {% block body %}
<a href="#0" class="frontend">Cate<b style="color: red">go</b>ries</a>
<nav class="menu" data-scroll-section-inview="">
  <h1 class="menu__item-h1">
    I design and develop experiences that make people's live easier
  </h1>
  <a href="#0" target="_blank" class="menu__item">
    <span class="menu__item-text"
      ><span class="menu__item-textinner" style="transform: translate(0px, 0px)"
        ><span>Getting Started with Django</span></span
      ></span
    >
  </a>
</nav>

{% endblock%}
