{% extends 'base.html' %} {% block title %} thisispawann | {{catlist.cat}}
{%endblock %} {%block body %}

<h3
  class="text-center mb-5"
  style="margin-top: 6rem !important; color: #008cff; font-size: 19px !important; font-weight:800;"
>
  List of {{catlist.cat}} posts
</h3>
{% for post in catlist.posts %}
<a href="{{post.get_absolute_url}}" class="text-dark menu__item">
  <span class="menu__item-text"
    ><span class="menu__item-textinner" style="transform: translate(0px, 0px)"
      ><span>{{post.title}}</span></span
    ></span
  >
</a>
{% endfor %} {% endblock %}
