{% extends 'base.html' %} {% load static %}
{% block title %} 
{{post.title}}
{% endblock %}
 {% block body %}
<a href="#0" class="category">Cate<b style="color: red">go</b>ries</a>
<nav class="menu" data-scroll-section-inview="">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="col-12">
          <h1>{{post.title}}</h1>
        </div>
        <div class="col-12 pt-5">
          <p>{{post.content|safe}}</p>
        </div>
         <div class="col-md-12">
        {% comment %} 0 comments {% endcomment %} 
        <h2 class="mt-5">Make a new comment</h2>
        <form method="post" id="myForm" class="mb-5">
          {{ comment_form.as_p}}
          {% csrf_token %}
          <button type="submit" class="btn btn-dark btn-lg btn-block">Post Comment</button>
        </form>
        {% with comments.count as total_comments %}
        <h2 style="text-decoration:underline">
          {{ total_comments }} comment{{ total_comments|pluralize }}
        </h2>
        {% endwith %} 
        {% for comment in comments %} <h6 class="mt-5" style="color:#008cff; font-weight:600">{{ comment.name }}</h6> on {{ comment.publish }}
        {{ comment.content|linebreaks }}
        {% empty %}
        <p>There are no comments for this post.</p>
        {% endfor %}
      </div>
      </div>
    </div>
  </div>
</nav>

{% endblock%}
