{% extends 'base.html' %} {% load static %}
{% block title %} 
{{post.title}}
{% endblock %}
 {% block body %}
<a href="#0" class="category">Cate<b style="color: red">go</b>ries</a>
<nav class="menu" data-scroll-section-inview="">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="col-12">
          <h1>{{post.title}}</h1>
        </div>
        <div class="col-12 pt-5">
          <p>{{post.content|safe}}</p>
        </div>
      </div>
    </div>
  </div>
</nav>

{% endblock%}
